body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    padding: 0;
    height: 540px;
    width: 630px;
    background-color: rgb(121, 173, 156);
    /* border: 2px solid white;
    padding: ; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.tile {
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

#winner {
    margin: 0;
}
.X, .O {
    font-size: 150px;
}

.X {
    color: brown;
}